---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="À propos">
  <section class="about">
    <h1>À propos de moi</h1>

        <p>
        Je m’appelle <strong>Meriem Mehdi</strong>, j’ai 23 ans et je suis actuellement
        alternante en développement web chez <strong>Cliking</strong>.
      </p>

      <p>
        Mon parcours dans la tech a commencé à <strong>la Sorbonne</strong>, où j’ai
        étudié pendant trois ans en licence informatique. Cette expérience m’a permis
        d’acquérir des bases solides en algorithmique, programmation et logique
        informatique, tout en développant une véritable curiosité pour le développement.
      </p>

      <p>
         Pour évoluer dans un environnement plus concret, orienté projet et
        professionnalisant, j’ai choisi de rejoindre <strong>Ada Tech School</strong>
        afin de poursuivre une formation en développement web.
      </p>

      <p>
        Aujourd’hui, j’apprends à concevoir des applications web, à travailler avec
        des technologies modernes et à développer de bonnes pratiques de développement,
        aussi bien en autonomie qu’en équipe.
      </p>

      <p>
        J’ai créé ce blog pour documenter mon parcours, partager ce que j’apprends au
        fil de ma formation, présenter mes projets, mes découvertes, mes difficultés
        et mon évolution en tant que développeuse.
      </p>

      <p>
        Ce site est à la fois un espace d’apprentissage, un journal de progression et
        un portfolio en construction.
      </p>
  </section>
</BaseLayout>